<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default m-4">

                    <div class="card-header">

                        <div class="col-12">
                            <h3 class="pb-3 pt-3">{{heading}}</h3>
                        </div>

                        <div class="col-12">

                            <div class="input-group mb-3">

                                <select v-model="selected" class="custom-select form-control" @change="loadNews()">
                                    <option selected value="0">Choose...</option>
                                    <option v-for="option in channelOptions" :key="channelOptions.id" v-bind:value="option.id">{{option.name}}</option>
                                </select>

                            </div>

                        </div>

                    </div>

                    <div class="card card-default">

                        <div class="card-body">
                            <PaginationComponent v-bind:links="links" v-bind:meta="meta" />
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="card card-default" v-for="article in news" :key="news.id">

                            <div class="card-body">

                                <p class="card-text">
                                    <small class="text-muted">
                                        <a v-bind:href="article.channel.link">{{article.channel.title}}</a>
                                    </small>
                                </p>

                                <p class="card-text"><small class="text-muted">{{article.pub_date}}</small></p>
                                <p class="card-text">{{article.title}}</p>
                                <p class="card-text"><small class="text-muted">{{article.description}}</small></p>

                                <button type="button" class="btn btn-primary btn-sm" @click="redirectToPage(article.link)">Goto News Article</button>

                            </div>

                        </div>

                    </div>

                    <div class="card card-default">

                        <div class="card-body">
                            <PaginationComponent v-bind:links="links" v-bind:meta="meta" />
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>

<script>

    import PaginationComponent from "./PaginationComponent.vue";

    export default {
        props: {
            heading: String,
            baseUrl: String
        },
        components: {
            PaginationComponent
        },
        data(){
            return {
                news: {},
                links: {},
                meta: {},
                channelOptions: {},
                loading: true,
                alert: false,
                selected: 0
            }
        },
        mounted() {
            console.log('Component mounted.');
            console.log(this.baseUrl); //<- handy to see the base url.
        },
        created(){
            this.loadNews();
            this.loadChannelOptions();

            this.$eventHub.$on('change-page-request', this.loadNews);
        },
        beforeDestroy() {
            this.$eventHub.$off('change-page-request');
        },
        methods: {

            loadNews: function (url = null){

                var requestUrl = undefined;

                if(url)
                {
                    this.requestNewsData(url);
                    return;
                }
                else if(this.selected)
                {
                    requestUrl = this.baseUrl + "/api/news-by-channel/" + this.selected;
                    this.requestNewsData(requestUrl);
                    return;
                }
                else
                {
                    requestUrl = this.baseUrl + "/api/news-by-channel";
                    this.requestNewsData(requestUrl);
                    return;
                }
            },

            requestNewsData: function(requestUrl){

                var compData = this;

                axios.get(requestUrl)
                    .then(response => {

                        compData.news  = response.data.data;
                        compData.links = response.data.links;
                        compData.meta  = response.data.meta;

                        compData.loading = false; // <- Quick test just to get the loading bool to change.

                    }).catch(function(error){

                        compData.news = error;
                        compData.loading = false; // <- Quick test just to get the loading bool to change.

                    })

            },

            loadChannelOptions: function () {

                var compData = this;
                var requestUrl = this.baseUrl + "/api/channel-options";

                const requestInstance = axios.get(requestUrl)
                    .then(response => {

                        compData.channelOptions  = response.data;
                        compData.loading = false; // <- Quick test just to get the loading bool to change.

                    }).catch(function(error){

                        compData.channelOptions = error;
                        compData.loading = false; // <- Quick test just to get the loading bool to change.

                    })

            },

            redirectToPage: function (link) {
                window.open(link, '_blank');
            }

        }
    }
</script>
