<template>

    <div class="col-md-12 p-1" align="center">

        <div class="card-text">
            <p>Page: {{meta.current_page}}</p>
            <p>From: {{meta.from}} to {{meta.to}}</p>
            <p>Total: {{meta.total}}</p>
        </div>

        <button type="button" class="btn btn-secondary" @click="loadNews(links.first)">first</button>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" @click="loadNews(links.back)">back</button>
            <button type="button" class="btn btn-secondary" @click="loadNews(links.next)">next</button>
        </div>

        <button type="button" class="btn btn-secondary" @click="loadNews(links.last)">last</button>

    </div>

</template>

<script>

    export default {
        props: {
            meta: Object,
            links: Object
        },
        data () {
            return {}
        },
        methods: {
            loadNews(url){
                this.$eventHub.$emit('change-page-request', url);
            }
        }
    }
</script>
